<main className="container panel-admin">
  <h1><%- title %> </h1>

  <div class="container-buttons">
    <a href="/new-group" class="btn btn-yellow">New Group</a>
    <a href="/new-meeti" class="btn btn-blue">New Meeti</a>
    <a href="/edit-profile" class="btn btn-pink">Edit Profile</a>
    <a href="/profile-picture" class="btn btn-yellow">Profile Picture</a>
  </div>

  <div class="section-admin">
    <h2>Yours Meeti's</h2>
    <ul>
      <li>
        <div class="information-admin">
          <p class="date">Monday, 22 of May of 2022</p>
          <h3>E-Commerce in Mexico</h3>
          <small>23 Assistants</small>
        </div>
        <div class="actions container buttons">
          <a href="#" class="btn btn-green">Edit</a>
          <a href="#" class="btn btn-blue2">Assistants</a>
          <a href="#" class="btn btn-red">Delete</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="section-admin">
    <h2>Yours Groups</h2>
    <% if(groups.length) { %> 
      <ul>
        <% groups.forEach(group => { %> 
        <li>
          <div class="information-admin">
            <h3><%- group.name %> </h3>
          </div>
          <div class="actions container buttons">
            <a href="/edit-group/<%- group.id  %>" class="btn btn-green">Edit</a>
            <a href="/image-group/<%- group.id  %>" class="btn btn-blue2">Image</a>
            <a href="/delete-group/<%- group.id  %>" class="btn btn-red">Delete</a>
          </div>
        </li>
        <% }) %>
      </ul>
    <% } else { %>
      <h3>You don't have any group</h3>
    <% } %>
  </div>
</main>