<main className="container panel-admin">
  <h1><%- title %> </h1>

  <div class="container-buttons">
    <a href="/new-group" class="btn btn-yellow">New Group</a>
    <a href="/new-meeti" class="btn btn-blue">New Meeti</a>
    <a href="/edit-profile" class="btn btn-pink">Edit Profile</a>
    <a href="/profile-picture" class="btn btn-yellow">Profile Picture</a>
  </div>

  <div class="section-admin">
    <h2>Upcoming Meeti's</h2>
    <% if(nextMeeti.length) { %> 
    <ul>
      <% nextMeeti.forEach(meet => { %> 
      <li>
        <div class="information-admin">
          <!-- < % moment.locale('es') % >  -->
          <p class="date"><%- moment(`${meet.date} ${meet.time}`).format('LLLL') %> Hours</p>
          <h3><%- meet.title %></h3>
          <small><%- meet.interested.length %> Interested</small>
        </div>
        <div class="actions container buttons">
          <a href="/edit-meeti/<%- meet.id %>" class="btn btn-green">Edit</a>
          <a href="/assistants-meeti/<%- meet.id %>" class="btn btn-blue2">Assistants</a>
          <a href="/delete-meeti/<%- meet.id %>" class="btn btn-red">Delete</a>
        </div>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
      <h3>You don't have any next meeti</h3>
    <% } %>
  </div>
  <div class="section-admin">
    <h2>Yours Groups</h2>
    <% if(groups.length) { %> 
      <ul>
        <% groups.forEach(group => { %> 
        <li>
          <div class="information-admin">
            <h3><%- group.name %> </h3>
          </div>
          <div class="actions container buttons">
            <a href="/edit-group/<%- group.id  %>" class="btn btn-green">Edit</a>
            <a href="/image-group/<%- group.id  %>" class="btn btn-blue2">Image</a>
            <a href="/delete-group/<%- group.id  %>" class="btn btn-red">Delete</a>
          </div>
        </li>
        <% }) %>
      </ul>
    <% } else { %>
      <h3>You don't have any group</h3>
    <% } %>
  </div>
  <div class="section-admin">
    <h2>Past Meeti's</h2>
    <% if(pastMeeti.length) { %> 
    <ul>
      <% pastMeeti.forEach(meet => { %> 
      <li>
        <div class="information-admin">
          <!-- < % moment.locale('es') % >  -->
          <p class="date"><%- moment(`${meet.date} ${meet.time}`).format('LLLL') %> Hours</p>
          <h3><%- meet.title %></h3>
          <small><%- meet.interested.length %> Interested</small>
        </div>
        <div class="actions container buttons">
          <a href="/edit-meeti/<%- meet.id %>" class="btn btn-green">Edit</a>
          <a href="/assistants-meeti/<%- meet.id %>" class="btn btn-blue2">Assistants</a>
          <a href="/delete-meeti/<%- meet.id %>" class="btn btn-red">Delete</a>
        </div>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
      <h3>You don't have any past meeti</h3>
    <% } %>
  </div>
</main>