<div class="header-event">
  <div class="container">
    <div class="resume-event">
      <h1><%- meeti.title %></h1>

      <!-- < %- JSON.stringify(meeti) % >  -->
      <div class="info-author">
        <div class="image">
          <% if(meeti.user.image) { %> 
            <img src="/uploads/profiles/<%- meeti.user.image %>" alt="<%- meeti.title %>">
          <% } %>
        </div>
        <div class="information">
          <p>Organized by:</p>
          <p class="author">
            <a href="/users/<%- meeti.user.id %>"><%- meeti.user.name %></a>
            Creator of:
            <a href="/groups/<%- meeti.group.id %>"><%- meeti.group.name %></a>
          </p>
        </div>
      </div>
    </div>

    <div class="question-assistance">
      <% if(user.id) { %> 
        <p>Will you attend?</p>
        <a href="#" class="btn btn-blue">Si</a>
      <% } %> 
    </div>
  </div>
</div>

<main class="content-event">
  <div class="container">
    <div class="information-event">
      <div class="description">
        <img src="/uploads/groups/<%- meeti.group.image %>" alt="<%- meeti.title %>">

        <%- meeti.description %> 
      </div>
      <div class="assistants">
        <div class="title">
          <h3><%- meeti.interested.length %>  Assistants</h2>
          <a href="/assistants/<%- meeti.slug %>">See All</a>
        </div>
      </div>

      <div class="comments">
        <h2>Comments</h2>
        <div class="comment">
          <div class="image">
            <img src="" alt="">
          </div>
          <div class="text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
            <p>
              Written by <span>Eric</span>
            </p>

            <input type="button" value="Delete" class="btn btn-blue">           
          </div>
        </div>

        <div class="comment">
          <div class="image">
            <img src="" alt="">
          </div>
          <div class="text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
            <p>
              Written by <span>Eric</span>
            </p>          
          </div>
        </div>

        <form action="#" class="default-form comments">
          <legend>Add new comment</legend>
          <div class="campo">
            <label for="">Comment</label>
            <textarea name="comment" ></textarea>
          </div>

          <div class="campo send">
            <input type="submit" value="Send" class="btn btn-pink">
          </div>
        </form>

      </div>

    </div>

    <aside class="information">
      <div class="date">
        <p><%- moment(`${meeti.date} ${meeti.time}`).format('LLLL') %> Hours</p>
      </div>
      <div class="location">
        <p><%- meeti.address %>, <%- meeti.city %>, <%- meeti.state %>, <%- meeti.country %></p>
      </div>
    </aside>

  </div>
</main>