<div class="hero">
  <h1>Find or create a group to share what you like the most</h1>
  <a href="/signup" class="btn btn-yellow">Get Account</a>
</div>

<div class="searching-start">
  <div class="container">
    <h2>Find a group in your city</h2>
    <form action="#">
      <select name="category">
        <option value="" disabled selected>Select Category</option>
        <% categories.forEach(function(category) { %>
          <option value="<%- category.id %>" >
            <%- category.name %>
          </option>
        <% }) %>
      </select>
      <input type="text" name="name" placeholder="Name Meeti">
      <input type="text" name="city" placeholder="City">
      <input type="text" name="country" placeholder="Country">
      <input type="submit" value="Search" class="btn btn-pink">
    </form>
  </div>
</div>

<div class="container">
  <h2>Next Meeti's</h2>
  <div class="grid colum-md-3 ">
    <% if (meetis.length) { %>
      <% meetis.forEach(meeti => { %> 

        <!-- < %- JSON.stringify(meeti) % >  -->
        <%- include('partials/card-meeti', { meeti }) %> 

      <% }) %>
    <% } %>
  </div>
</div>

<main class="bg-gris categories">
  <h2>Find Groups by Category</h2>

  <div class="container">
    <ul class="list-categories  grid colum-2 colum-md-3">
      <% categories.forEach(function(category) { %>
        <li>
          <a href="/category/<%- category.slug  %> ">
            <img src="/img/categoria_<%- category.id %>.jpg">
            <h3><%- category.name %></h3>
          </a>
        </li>
      <% }) %>
    </ul>
  </div>
</main>

<div class="meeti-bg">
  <div class="container meeti grid colum-md-2">
    <section>
      <h3>Create a group</h3>
      <p>Share what you like or your passion with others, create your own group today at no cost</p>
    </section>
    <section>
      <h3>Join a group</h3>
      <p>Meet people with your same tastes and passions, join an existing group and receive notifications about next events</p>
    </section>
  </div>
</div>