<main class="container container-forms">
	<h1>
		<%- title %> : <%- meeti.title %>
	</h1>
	<form class="default-form" method="post">
		<legend>About the Meeti</legend>
		<div class="campo">
			<label>Group</label>
			<select name="groupId">
				<option value="" selected disabled>Select a group</option>
				<% if(groups.length > 0) { %>
					<% groups.forEach(function(group) { %>
						<option value="<%- group.id %>" <%- meeti.groupId === group.id && 'selected' %> >
							<%- group.name %>
						</option>
					<% }) %>
				<% } %>
			</select>
		</div>
		<div class="campo">
			<label>Title</label>
			<input type="text" name="title" placeholder="Title Meeti" value="<%- meeti.title %>">
		</div>
		<div class="campo">
			<label>Guest</label>
			<input type="text" name="guest" placeholder="Name Guest or Speaker (if apply)" value="<%- meeti.guest %>">
		</div>
		<div class="colum-2 grid">
			<div class="campo">
				<label>Date</label>
				<input type="date" name="date" value="<%- meeti.date %>" >
			</div>
			<div class="campo">
				<label>Time</label>
				<input type="time" name="time" value="<%= meeti.time %>">
			</div>
		</div>
		<div class="campo">
			<label>Limit</label>
			<input type="number" min="1" name="limit" placeholder="Limit Meeti (if apply)" value="<%- meeti.limit %>">
		</div>
		<div class="campo description">
			<label>Description</label>
			<div class="container-editor">
				<input type="hidden" id="x" name="description" value="<%- meeti.description %>">
				<trix-editor input="x"></trix-editor>
			</div>
		</div>

		<legend>Location Meeti</legend>
		<div class="campo searching">
			<label>Enter the address of the Meeti</label>
			<div class="container-input">
				<input type="text" id="searchForm" placeholder="Location">
				<small>The wizard will place an estimated address</small>
			</div>
		</div>

		<div class="campo map">
			<!-- it is loaded automatically by javascript -->
			<div id="map"></div>
			<p class="information">Move the pin to the exact point if necessary</p>
		</div>
		<p class="information">Confirm that the following fields are correct:</p>
		<div class="campo">
			<label>Address</label>
			<input type="text" id="address" name="address" placeholder="Address" value="<%- meeti.address %>">
		</div>
		<div class="campo">
			<label>City</label>
			<input type="text" id="city" name="city" placeholder="City" value="<%- meeti.city %>">
		</div>
		<div class="campo">
			<label>State</label>
			<input type="text" id="state" name="state" placeholder="State" value="<%- meeti.state %>">
		</div>
		<div class="campo">
			<label>Country</label>
			<input type="text" id="country" name="country" placeholder="Country" value="<%- meeti.country %>">
		</div>
		<div class="campo">
			<input type="hidden" id="lat" name="lat" readonly value="<%- meeti.location.coordinates[1] %>">
			<input type="hidden" id="lng" name="lng" readonly value="<%- meeti.location.coordinates[0] %>">
		</div>
		<div class="campo send">
			<input type="submit" class="btn btn-pink" value="Edit Meeti">
		</div>
	</form>
</main>