<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Meeti - <%- title %>
  </title>
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&family=Staatliches&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
  <link rel="stylesheet" href="/css/trix.css" />
  <link rel="stylesheet" href="/css/app.css" />
</head>

<body>
  <header class="site-header container">
    <a href="/">
      <img src="/img/logo.png" alt="Logo Meeti" />
    </a>

    <nav class="nav">
      <% if(locals.user.id) { %> 
        <%- include('../partials/authenticated-nav') %> 
      <% } else { %>
        <%- include('../partials/unauthenticated-nav') %>
      <% } %>
    </nav>
  </header>

  <% if(locals.messages) { %>
    <% const category=Object.keys(locals.messages) %>
    <% if(category.length) { %>
      <% locals.messages[category].forEach(alert=> { %> 
        <div class="alerts">
          <p class="alert <%= category %> "><%= alert %> </p>
        </div>
      <% }) %>
    <% } %>
  <% } %>
  
  <%- body %>

  <footer class="site-footer container">
    <nav class="nav">
      <a href="#">Create Group</a> 
      <a href="/login">Login</a>
      <a href="/signup">Sign Up</a>
    </nav>

    <p class="copyright">All rights reserved Meeti <%- year %> &copy;</p>
  </footer>

  <script src="/js/trix.js"></script>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
  <script src="/dist/bundle.js"></script>
</body>

</html>